extends layout.jade
block content
  div.container(ng-app="angApp")
    h1(ng-app="angApp") Products管理页面
    .listItem(ng-controller="ProductsList")
      input(name="numInOnePage", ng-model="numInOnePage")
      my-content
