html{
  font-size: 14px;

}
body {
  margin-top: 5vh;
  padding: 50px;
  font: 20px, "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #cccccc;
}

a {
  color: #00B7FF;
}
.btn a {
  color: #eee;
}
.row {
  margin-top: 3vh;
}
.formbtn{
  margin-top: 10vh;
  font-size: 2rem;
  height:4rem;
}

.navbar{
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-form button, .navbar-form input{
  font-size: 1.5rem;
  line-height: 1.5rem;
}
